@import "tailwindcss";

@font-face {
  font-family: "Jersey10";
  src: url("/fonts/Jersey10-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Jersey10";
  /* background: #1a1a2e; */
  /* color: #eee; */
}

#root {
  width: 800px;
  height: 600px;
}

@keyframes bounce-fast {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-fast {
  animation: bounce-fast 0.5s ease-in-out infinite;
}
